<ion-tabs class="tabs-icon-top">
   <ion-tab title="Sign In" icon-on="ion-unlocked"
      icon-off="ion-locked" href="#/auth/signin">
      <ion-nav-view name="auth-signin"></ion-nav-view>
   </ion-tab>
   <ion-tab title="Sign Up" icon-on="ion-ios-personadd"
      icon-off="ion-ios-personadd-outline" href="#/auth/signup">
      <ion-nav-view name="auth-signup"></ion-nav-view>
   </ion-tab>
    <ion-tab title="Sign Up Org" icon-on="ion-ios-people"
             icon-off="ion-ios-people-outline" href="#/auth/signupOrg">
        <ion-nav-view name="auth-signupOrg"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Sign In Org" icon-on="ion-ios-heart"
             icon-off="ion-ios-heart-outline" href="#/auth/signinOrg">
        <ion-nav-view name="auth-signinOrg"></ion-nav-view>
    </ion-tab>
</ion-tabs>