<div class="modal slide-in-up" ng-controller="editCtrl">
   <header class="bar bar-header bar-secondary">
      <button class="button button-clear button-primary" ng-click="close()">Cancel</button>
      <h1 class="title">List Resource</h1>
      <button class="button button-positive" ng-click="createEdit('{{listId}}')">Done</button>
   </header>
   <ion-content class="padding has-header">
       <label class="item item-input"> Title
           <input type="text" class="text-center" placeholder="{{item.title}}" value="{{item.title}}" ng-model="data.title">
       </label>
       <div class="list">

           <label class="item item-input"> Capacity
               <input type="number"  class="text-center" placeholder="{{item.capacity}}" value="{{item.capacity}}" ng-model="data.capacity">
           </label>
           <label class="item item-"> Description/Requirements
               <textarea  class="text-center" placeholder="{{item.description}}" value="{{item.description}}" ng-model="data.description">

               </textarea>
           </label>
           <label class="item item-input"> <i class="icon ion-location"></i>Where
               <input type="text" class="text-center" placeholder="{{item.location}}" value="{{item.location}}" ng-model="data.location">
           </label>{{listId}}{{item}}
       </div>
   </ion-content>
</div>